
/*needed to keep iframe 100% with for view*/
html,body {
height:100%;
}

/*deprecate below eventually*/

.clickable {
cursor: pointer;
}

.margin20 {
margin: 20px;
}
.page-content {
position: fixed;
left: 90px;
right: 0px;
top: 50px;
bottom: 0px;
overflow: auto;
}
code.hljs {
font-size: 80%;
}
table.info {
width: 100%;
border-spacing: 1px;
font-size: 13px;
}
table.info tr {
background-color: white;
}
table.info th {
color: #777; 
text-align: left;
vertical-align: top;
padding: 10px;
margin: 0px;
font-weight: 600;
}
table.info td {
padding: 10px;
line-height: 140%;
}
.el-table__header-wrapper thead div {
color: gray !important;
}
.el-form-item {
    margin-bottom: 0px;
}
.card, .el-card {
border-radius: 0px;
}
.button-fixed {
position: fixed;
bottom: 20px;
right: 30px;
border-radius: 25px;
width: 50px;
height: 50px;
padding: 10px;
margin: 10px;
font-weight: bold;
color: white;
background-color: gray;
border: none;
box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
transition: background-color 0.3s, transform 0.5s, box-shadow 0.5s, left 0.5s, right 0.5s;
}
.button-fixed:hover {
background-color: #2693ff;
transform: rotate(180deg);
box-shadow: none;
cursor: pointer;
}


/*------------------------------------------------------------*/
/* update bootstrap default tab */

.brainlife-tab .nav-tabs {
padding-top: 20px;
border: none;
}

.brainlife-tab .nav-item a {
color: inherit;
opacity: 0.5;
border: none;
transition: color 0.5s, opacity 0.5s;
}
.brainlife-tab .nav-item a:hover {
color: #007bff;
opacity: 1;
}
.brainlife-tab .nav-item a[aria-selected="true"] {
color: #2693ff;
opacity: 1;
/*border-bottom: 3px solid #007bff;*/
border-bottom: 3px solid #2693ff;
}

/*------------------------------------------------------------*/


