
body, textarea, input, table {
font-family: 'Roboto', sans-serif;
font-size: 14px;
}

body {
background-color: #f0f0f0;
color: #444;
height:100%;
overflow: hidden;
}

.margin20 {
margin: 20px;
}
.page-content {
position: fixed;
left: 90px;
right: 0px;
top: 50px;
bottom: 0px;
overflow: auto;
}

.fade-enter-active {
transition: opacity 1s
}
.fade-enter, .fade-leave-to {
opacity: 0
}
.clickable:hover,
.clickable-record:hover {
cursor: pointer;
background-color: #ddd;
}
.clickable-row {
cursor: pointer;
}
code.hljs {
font-size: 80%;
}
/*
h1,h2,h3,h4,h5,h6 {
line-height: 100%;
margin-top: 0px;
}
*/
/*
h1 {
font-size: 26px;
font-weight: bold;
margin-bottom: 13px;
}
h2 {
font-size: 22px;
font-weight: bold;
margin-bottom: 11px;
}
h3 {
font-size: 18px;
font-weight: bold;
margin-bottom: 9px;
}
h4 {
font-size: 15px;
font-weight: bold;
margin-bottom: 7px;
}
h5 {
font-size: 13px;
font-weight: bold;
margin-bottom: 6px;
}
*/

table.info {
width: 100%;
border-spacing: 1px;
font-size: 13px;
}
table.info tr {
background-color: white;
}
table.info th {
color: #777; 
text-align: left;
vertical-align: top;
padding: 10px;
margin: 0px;
font-weight: 600;
}
table.info td {
padding: 10px;
line-height: 140%;
}
.el-table__header-wrapper thead div {
color: gray !important;
}
.el-form-item {
    margin-bottom: 0px;
}
.card, .el-card {
border-radius: 0px;
}
.button-fixed {
position: fixed;
bottom: 20px;
right: 30px;
border-radius: 25px;
width: 50px;
height: 50px;
padding: 10px;
margin: 10px;
font-weight: bold;
color: white;
background-color: gray;
border: none;
box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
transition: background-color 0.3s, transform 0.5s, box-shadow 0.5s;
}
.button-fixed:hover {
background-color: #2693ff;
transform: rotate(180deg);
box-shadow: none;
cursor: pointer;
}


