@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}

.el-collapse{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0;
}

.el-collapse-item{}

.el-collapse-item:last-child{
    margin-bottom: -1px;
}

.el-collapse-item.is-active > .el-collapse-item__header .el-collapse-item__header__arrow{
    transform: rotate(90deg);
}

.el-collapse-item__header{
    height: 43px;
    line-height: 43px;
    padding-left: 15px;
    background-color: #fff;
    color: rgb(89, 89, 89);
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: 13px;
}

.el-collapse-item__header__arrow{
    margin-right: 8px;
    transition: transform .3s;
}

.el-collapse-item__wrap{
    will-change: height;
    background-color: rgb(251, 253, 255);
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.el-collapse-item__content{
    padding: 10px 15px;
    font-size: 13px;
    color: rgb(46, 46, 46);
    line-height: 1.769230769230769;
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /*
  --color-base-black: color(var(--color-primary) h(+6) s(33%) l(18%));
  --color-light-black: color(var(--color-base-black) h(+5) s(27%) l(27%));
  --color-extra-light-black: color(var(--color-base-black) h(+2) s(19%) l(35%));

  --color-base-silver: color(var(--color-base-black) h(+3) s(16%) l(58%));
  --color-light-silver: color(var(--color-base-black) h(+3) s(23%) l(67%));
  --color-extra-light-silver: color(var(--color-base-black) s(26%) l(80%));

  --color-base-gray: color(var(--color-base-black) s(28%) l(86%));
  --color-light-gray: color(var(--color-base-black) h(+10) s(33%) l(92%));
  --color-extra-light-gray: color(var(--color-base-black) h(+6) s(33%) l(95%));

   */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}