@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}

.el-rate{
    height: 20px;
    line-height: 1;
}

.el-rate__item{
    display: inline-block;
    position: relative;
    font-size: 0;
    vertical-align: middle;
}

.el-rate__icon{
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin-right: 6px;
    color: rgb(204, 204, 204);
    transition: .3s;
}

.el-rate__icon .path2 {
    position: absolute;
    left: 0;
    top: 0;
}

.el-rate__icon.hover{
    transform: scale(1.15);
}

.el-rate__decimal{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
}

.el-rate__text{
    font-size: 14px;
    vertical-align: middle;
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /*
  --color-base-black: color(var(--color-primary) h(+6) s(33%) l(18%));
  --color-light-black: color(var(--color-base-black) h(+5) s(27%) l(27%));
  --color-extra-light-black: color(var(--color-base-black) h(+2) s(19%) l(35%));

  --color-base-silver: color(var(--color-base-black) h(+3) s(16%) l(58%));
  --color-light-silver: color(var(--color-base-black) h(+3) s(23%) l(67%));
  --color-extra-light-silver: color(var(--color-base-black) s(26%) l(80%));

  --color-base-gray: color(var(--color-base-black) s(28%) l(86%));
  --color-light-gray: color(var(--color-base-black) h(+10) s(33%) l(92%));
  --color-extra-light-gray: color(var(--color-base-black) h(+6) s(33%) l(95%));

   */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}