@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}

.el-scrollbar{
    overflow: hidden;
    position: relative;
}

.el-scrollbar:hover .el-scrollbar__bar, .el-scrollbar:active .el-scrollbar__bar, .el-scrollbar:focus .el-scrollbar__bar{
    opacity: 1;
    transition: opacity 340ms ease-out;
}

.el-scrollbar__wrap{
    overflow: scroll;
}

.el-scrollbar__wrap--hidden-default{}

.el-scrollbar__wrap--hidden-default::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.el-scrollbar__thumb{
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(171, 171, 171, 0.3);
    transition: .3s background-color;
}

.el-scrollbar__thumb:hover{
    background-color: rgba(171, 171, 171, 0.5);
}

.el-scrollbar__bar{
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 120ms ease-out;
}

.el-scrollbar__bar.is-horizontal{
    height: 6px;
    left: 2px;
}

.el-scrollbar__bar.is-horizontal > div{
    height: 100%;
}

.el-scrollbar__bar.is-vertical{
    width: 6px;
    top: 2px;
}

.el-scrollbar__bar.is-vertical > div{
    width: 100%;
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /*
  --color-base-black: color(var(--color-primary) h(+6) s(33%) l(18%));
  --color-light-black: color(var(--color-base-black) h(+5) s(27%) l(27%));
  --color-extra-light-black: color(var(--color-base-black) h(+2) s(19%) l(35%));

  --color-base-silver: color(var(--color-base-black) h(+3) s(16%) l(58%));
  --color-light-silver: color(var(--color-base-black) h(+3) s(23%) l(67%));
  --color-extra-light-silver: color(var(--color-base-black) s(26%) l(80%));

  --color-base-gray: color(var(--color-base-black) s(28%) l(86%));
  --color-light-gray: color(var(--color-base-black) h(+10) s(33%) l(92%));
  --color-extra-light-gray: color(var(--color-base-black) h(+6) s(33%) l(95%));

   */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /*--table-header-background: var(--color-extra-light-gray);*/
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
}