const merge = require('webpack-merge')
const prodEnv = require('./prod.env')

//if you update this, you will need to restart the dev server for it to take effect
module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  HOSTNAME: '"dev2.soichi.us"' //default to window.location.hostname
})

